:root {
  --color-primary-light: #98bdb0;
  --color-primary: #40a999;
  --color-secondary: #483232;
  --color-white: #fff;
  --color-button-hover: rgba(64, 169, 153, 0.18);
  --color-button-primary-dark: #368f82;
  --color-background: #eef2f2;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
}

input,
select {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-secondary);
  margin: 8px 0;
}

input:focus,
select:focus {
  border: 1px solid var(--color-primary);
}
